body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}

#GPUFrame {
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 1;
    pointer-events: none;
}


#map {
    position: absolute;
    height: 100%;
    width: 100%;
    
    z-index: 0;
}